{% extends "index.html" %}
{% block content %}
<div class="blog-post">
  <h2 class="blog-post-title">{{ article.title }}</h2>
  <p class="blog-post-meta">上次更新: {{ article.updated_at }}</p>
  <p class="blog-post-meta">阅读次数: {{ article.view_num }}
    | 分类: <a href="{{ url_for('articlesByCate',cateid=article.category.id) }}">{{ article.category.name }}</a>
    | 标签: {% for tag in article.tags.split(',') %}<a href="{{ url_for('articlesByTag',tag=tag) }}">{{ tag }}</a> {% endfor %}
  </p>

  {{ article.content|safe }}
</div><!-- /.blog-post -->

<nav>
  <ul class="pager">
    {% if prevArt %}<li><a href="{{ url_for('articleView',id=prevArt.id) }}">上一篇</a></li>{% endif %}
    {% if nextArt %}<li><a href="{{ url_for('articleView',id=nextArt.id) }}">下一篇</a></li>{% endif %}
  </ul>
</nav>
{% endblock %}
